qsort_data_sizes="4096 65536"
qsort_elem_sizes="1 2 3 4 5 8 16 24 32 36 40 48 64 128 256 512 1024 2048 4096 5120 8192"
qsort_alignments="1 2 4 8 16 32"
qsort_less_fns="less compar less_r compar_r"
qsort_key_signs="0 1"
qsort_outline_copy="0 1"
qsort_outline_swap="0 1"
qsort_supply_buffer="0 1"
qsort_min_size_bits="0 1"
qsort_max_thresh="0"
